* {
  font-family: "Jost", sans-serif;
}
.box {
  border-radius: 30px;
  background: lightblue;
  color: white;
  width: 500px;
  height: 500px;
  align-items: center;
  justify-content: center;

  margin: auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
h1.temp,
h2.location {
  text-align: center;
  font-size: 40px;
  color: black;
}
h3.tempmin_max {
  color: brown;
}
input.inputfield {
  height: 50px;
  border-radius: 25px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.error {
  color: red;
}
